/* .data{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 280px 280px 80px;
    justify-content: center;
} */

.data2 {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 280px 280px 30px;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }